.bg_top_blue{
    background-color: rgb(14, 83, 148);
}
header .container:nth-child(1){
    padding: 5px;
}

header .container .row{
    color: #fff;
}
 
.yellow{
    background:rgba(224, 174, 9, 0.925) ;
    border: none;
}

.orange{
    background: orange;
    border: none;
}

.btn-admission{
    border-radius: 40px;
    background: rgb(223, 170, 73);
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
}

header nav{
    background-color: #e6dfdf;
}

header .container:nth-child(2) .col-md-6:nth-last-child(1){
    margin: auto;
}

.nav_border_right{
    border-right: 2px solid white;
    font-size: small;
}


/* Menu Dropdown */
.dropdown-menu{
    padding: 0;
}
.dropdown-menu .dropdown-item{
    font-size: 15px;
    text-decoration:dashed;
    border-bottom: 1px solid #b5acac;
    padding: 0 1.5rem;
}
/* Menu Dropdown */
/* ----------------------------------------first page-----------------------------  */
.About-ngb{
    background-color: rgb(25, 20, 20);
    height: 130px;
}
.about ul li{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0 0;
    text-transform: capitalize;
}
.about li{
    list-style: none;
    display: inline-block;
}

.page-title{
    text-align: center;
    color: #e6dfdf;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;

}
.home-page {
    text-align: center;
    padding: 0px;
}

.About-discribe{
    margin: 30px;

}
.about-lectures{
    margin: 40px 0px;
    padding: 25px;

}

.about-heading{
    font-size: 18px;
    font-weight: 400;
    color: #474040;
    
}

.About-box{
    
    box-shadow: 0 0 15px rgba(0, 0, 0 ,30%);
    align-items: center;
    padding: 0 6px;
}

   .img-organogram img{
    width: 100%;
    height: 75%;
}

.space{
    height: 20px;
}

.university-courses{
    color: #555555;
    font-weight: 400;
}
.post-graduate{
    color: #ff0000;
}
/* -------------------------table----------------------- */
.table{
    width: 100%;
    display: table;
    height: 100%;
    caption-side: bottom;
    border-collapse: collapse;
    box-sizing: border-box;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #555;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}

.table-heading{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.table-heading strong{
    color: #000080;
    font-size: 14px;
}
.frist span{
    color: #0000ff;
    text-align: center;
}
.second span{
    color: #0000ff;
    text-align: center;
}
.third span{
    color: #0000ff;
    text-align: center;
}
.fourth span{
    color: #0000ff;
    text-align: center;
}
.fifth span{
    color: #0000ff;
    text-align: center;
}
.sixth span{
    color: #0000ff;
    text-align: center;
}

.table td, .table th{
    border:none !important;
}
.table-row-sec-page .frist .second .third .fourth .fifth .sixth span{
    color: #336600;
    font-family: 'Lato', sans-serif;
}

/* ------------------------------- table-frist page--------------------- */
font{
    color: rgb(0, 0, 255);
    font-family: verdana;
    font-size: x-small;
}
.table-heading-fp{
    /* text-align: center; */
    font-family: 'Lato', sans-serif;
    background-color:#254d8e;
}
.table-heading-fp strong{
    color: #fff;
}
.table-row-1{
    background-color:#fcf4ed ;
}
.table-row-16{
    background-color:#fcf4ed ;
}
.table-row-19{
    background-color:#fcf4ed ;
}
.third-fp span{
    color: #b22222;
    box-sizing: border-box;
    font-style: normal;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.third-fp-c span{
    color: #b22222;
    box-sizing: border-box;
    font-style: normal;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.third-fp font{
    color:#254d8e ;
    font-size: 13px;
}
.third-fp-c font{
    background-color:#fcf4ed ;
    color:#254d8e ;
    font-size: 13px;

}
.second-fp font{
    color: rgb(37, 77, 142);
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;

}
.second-fp-c font{
    background-color: #fcf4ed ;
    font-size: 14px;
    color: rgb(37, 77, 142);
}
.fourth-fp-c span{
    background-color: #fcf4ed ;
    font-size: 14px;
    color: rgb(37, 77, 142);
}
.fourth-fp span{
    color: rgb(37, 77, 142);
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.fifth-fp-c span{
    background-color: #fcf4ed ;
    font-size: 14px;
    color: rgb(37, 77, 142);
}
.fifth-fp span{
    color: rgb(37, 77, 142);
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.sixth-fp-c span{
    background-color: #fcf4ed ;
    font-size: 14px;
    color: rgb(37, 77, 142);
}
.sixth-fp span{
    color: rgb(37, 77, 142);
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.seventh-fp span a{
    color: #673ab7;
}


/* ---------------------------------------- side page----------------------------------  */

.course-sidebar{
    box-shadow:0 0 15px rgba(0, 0, 0 ,30%); 
    width: 300px;

}
.cate-title{
    color: #D71E11D6;
    font-size: 23px;
    padding: 10px 10px;
    padding-left: 8px;
}

.course-categoris{
    padding: 0px 12px;
}
.course-categoris li{
    border-bottom: 1px solid #e0e0e0;
    color: #3f3f3f;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
    text-transform: capitalize;
}

.course-categoris ul{
    padding: 0px;
}
.course-categoris ul li{
    text-decoration:dashed;
    border-bottom: 1px solid #b5acac;
    list-style: none;

}
.course-categoris li a{
    color: #3f3f3f;
    transition: all .3s ease 0s;
}
.side-page a{
    color: #3f3f3f;
}
.side-page{
    padding: 0px;
}

.share-icons{
    display: inline-block;
    /* float: left; */
    
} 
.col-lg-3{
    padding:  0px 6px;
    
}

a:hover{
    text-decoration: none;
}

/* ----------------------------------------------------------------------------- footer--------------------------------------------------- */
footer {
    display: block;
    unicode-bidi: isolate;
}
.footer-top {
    background-color: #002046;
}
.ptb-30 {
    padding: 30px 0;
}
.footer-eight {
    float: right;
}
.footer-text-all li > a {
    color: #fff;
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    margin-bottom: 2px;
    transition: all .3s ease 0s;
}

.footer-eight li a {
    color: #2d3e50;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.footer-eight li {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
}
