.bg_top_blue{
    background-color: rgb(14, 83, 148);
}
header .container:nth-child(1){
    padding: 5px;
}

header .container .row{
    color: #fff;
}
 
.yellow{
    background:rgba(224, 174, 9, 0.925) ;
    border: none;
}

.orange{
    background: orange;
    border: none;
}

.btn-admission{
    border-radius: 40px;
    background: rgb(223, 170, 73);
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
}

header nav{
    background-color: #e6dfdf;
}

header .container:nth-child(2) .col-md-6:nth-last-child(1){
    margin: auto;
}

.nav_border_right{
    border-right: 2px solid white;
    font-size: small;
}
/* Menu Dropdown */
.dropdown-menu{
    padding: 0;
}
.dropdown-menu .dropdown-item{
    font-size: 15px;
    text-decoration:dashed;
    border-bottom: 1px solid #b5acac;
    padding: 0 1.5rem;
}

 /* Menu Dropdown */ 

 .table td, .table th{
    border:none !important;
}


/* ----------------------------------------first page-----------------------------  */
.About-ngb{
    background-color: rgb(25, 20, 20);
    height: 130px;
}
.about ul li{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0 0;
    text-transform: capitalize;
}
.about li{
    list-style: none;
    display: inline-block;
}

.page-title{
    text-align: center;
    color: #e6dfdf;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
}
.home-page {
    text-align: center;
    padding: 0px;
}

.About-discribe{
    margin: 30px;

}

.about-heading{
    font-size: 17px;
    font-weight: 400;
    color:#555555;
    font-family:'Source Sans Pro', sans-serif;
    
}

.About-box{
    width: 45% ;
    box-shadow: 0 0 15px rgba(0, 0, 0 ,30%);
    align-items: center;
}
.about-lectures{
    margin: 40px 0px;
    padding: 25px;

}

.space{
    height: 20px;
}

.about-heading-2{
    font-size: 35px;
    color: #000080;
    font-family: "source sans pro" sans-serif;
    font-weight: 400;
    text-align: center;

}
.paragraph-line{
    color: #555555;
    text-align: justify;
    font-size: 16px;
    font-family: 'lato' sans-serif;
}
.heading-3{
    color: #2F4F4F;
    font-size: 14px;
    font-family: 'lato'sans-serif;
}

/* ---------------------------------------- side page----------------------------------  */

.course-sidebar{
    box-shadow:0 0 15px rgba(0, 0, 0 ,30%); 
    width: 300px;

}
.cate-title{
    color: #D71E11D6;
    font-size: 23px;
    padding: 10px 10px ;
    padding-left: 12px;
}

.course-categoris{
    padding: 0px 8px;

}
.course-categoris ul {
    padding: 0px 12px;
}
.course-categoris li{
    border-bottom: 1px solid #e0e0e0;
    color: #3f3f3f;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
    text-transform: capitalize;
}
.course-categoris ul li{
    text-decoration:dashed;
    border-bottom: 1px solid #b5acac;
    list-style: none;

}
.side-page{
    padding: 0px;
}
.side-page a{
    color: #3f3f3f;
}
.share-icons{
    display: inline-block;
    /* float: left; */
    
} 
.col-lg-3{
    padding:  0px 6px;
}

a:hover{
    text-decoration: none;
}
/* ----------------------------------------------------------------------------- footer--------------------------------------------------- */
footer {
    display: block;
    unicode-bidi: isolate;
}
.footer-top {
    background-color: #002046;
}
.ptb-30 {
    padding: 30px 0;
}
.footer-eight {
    float: right;
}
.footer-text-all li > a {
    color: #fff;
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    margin-bottom: 2px;
    transition: all .3s ease 0s;
}

.footer-eight li a {
    color: #2d3e50;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.footer-eight li {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
}



